<div class="col-12 d-flex justify-content-between align-items-center">
	<h2>Listado de Productos</h2>
	<button class="boton boton-agregar" (click)="showModal()">
		<i class="fas fa-plus-square"></i>
	</button>
</div>
<hr>

<div class="col-12">
    <div class="table-responsive-xl">
        <table id="tabla" datatable [dtOptions]="tabla.dtOptions" [dtTrigger]="tabla.dtTrigger" class="table table-bordered table-hover" style="width: 100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col" style="width: 30px">Precio Proveedor</th>
                    <th scope="col" style="width: 30px">Precio Venta</th>
                    <th scope="col" style="width: 15px">Cantidad</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos; let i = index">
                    <th scope="row">{{ producto.codigo }}</th>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.marca }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.proveedor }}</td>
                    <td>${{ producto.precio_proveedor }}</td>
                    <td>${{ producto.precio_venta }}</td>
                    <td>{{ producto.cantidad }}</td>
                    <td class="d-flex justify-content-center align-items-center">
                        <button type="button" class="boton boton-editar mr-3" (click)="showModal(producto)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="boton boton-eliminar" (click)="eliminarProducto(producto, i)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Producto -->
<div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ accion == 'agregar' ? 'Agregar Producto' : 'Editar Producto'}}</h5>
			</div>
			<form [formGroup]="forma" (ngSubmit)="onSubmit()">
				<div class="modal-body">
					<div class="form-group row">
						<label class="col-sm-4 col-form-label" for="codigo">Código:</label>
						<div class="col-sm-8">
							<input 	type="text" 
									class="form-control" 
									name="codigo"
									formControlName="codigo">

							<div class="form-control-feedback text-danger" 
								*ngIf="forma.controls['codigo'].invalid && forma.controls['codigo'].touched">
								El código es requerido.
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label" for="nombre">Nombre:</label>
						<div class="col-sm-8">
							<input 	type="text" 
									class="form-control" 
									name="nombre"
									formControlName="nombre">

							<div class="form-control-feedback text-danger" 
								*ngIf="forma.controls['nombre'].invalid && forma.controls['nombre'].touched">
								El nombre del producto es requerido.
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label" for="marca">Marca:</label>
						<div class="col-sm-8">
							<select class="form-control" id="marca" name="marca" formControlName="marca">
								<option [ngValue]="0">SELECCIONE MARCA</option>
								<option *ngFor="let marca of marcas" [ngValue]="marca.id">{{ marca.nombre }}</option>
						    </select>

							<div class="form-control-feedback text-danger" 
								*ngIf="forma.controls['marca'].invalid && forma.controls['marca'].touched">
								La marca es requerida.
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label" for="categoria">Categoría:</label>
						<div class="col-sm-8">
							<select class="form-control" id="categoria" name="categoria" formControlName="categoria">
								<option [ngValue]="0">SELECCIONE CATEGORÍA</option>
								<option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{ categoria.nombre }}</option>
						    </select>

							<div class="form-control-feedback text-danger" 
								*ngIf="forma.controls['categoria'].invalid && forma.controls['categoria'].touched">
								La categoría es requerida.
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label" for="proveedor">Proveedor:</label>
						<div class="col-sm-8">
							<select class="form-control" id="proveedor" name="proveedor" formControlName="proveedor">
								<option [ngValue]="0">SELECCIONE PROVEEDOR</option>
								<option *ngFor="let proveedor of proveedores" [ngValue]="proveedor.id">{{ proveedor.nombre }}</option>
						    </select>

							<div class="form-control-feedback text-danger" 
								*ngIf="forma.controls['proveedor'].invalid && forma.controls['proveedor'].touched">
								El proveedor es requerido.
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label" for="precio_proveedor">Precio Proveedor:</label>
						<div class="col-sm-8">
							<input 	type="number" 
								   	class="form-control"
								   	name="precio_proveedor"
								   	formControlName="precio_proveedor">

							<div class="form-control-feedback text-danger" 
								*ngIf="forma.controls['precio_proveedor'].errors?.required && forma.controls['precio_proveedor'].touched">
								El precio del proveedor es requerido.
							</div>
							<div class="form-control-feedback text-danger" 
								*ngIf="forma.controls['precio_proveedor'].errors?.min && forma.controls['precio_proveedor'].touched">
								El precio del proveedor es inválido.
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label" for="precio_venta">Precio Venta:</label>
						<div class="col-sm-8">
							<input 	type="number" 
								   	class="form-control"
								   	name="precio_venta"
								   	formControlName="precio_venta">

							<div class="form-control-feedback text-danger" 
								*ngIf="forma.controls['precio_venta'].errors?.required && forma.controls['precio_venta'].touched">
								El precio de venta es requerido.
							</div>
							<div class="form-control-feedback text-danger" 
								*ngIf="forma.controls['precio_venta'].errors?.min && forma.controls['precio_venta'].touched">
								El precio de venta es inválido.
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label" for="cantidad">Cantidad:</label>
						<div class="col-sm-8">
							<input 	type="number" 
								   	class="form-control"
								   	name="cantidad"
								   	formControlName="cantidad">

							<div class="form-control-feedback text-danger" 
								*ngIf="forma.controls['cantidad'].errors?.required && forma.controls['cantidad'].touched">
								La cantidad es requerida.
							</div>
							<div class="form-control-feedback text-danger" 
								*ngIf="forma.controls['cantidad'].errors?.min && forma.controls['cantidad'].touched">
								La cantidad es inválida.
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm()">Cerrar</button>
					<button type="submit" class="btn btn-primary" [disabled]="forma.invalid">{{ accion == 'agregar' ? 'Agregar' : 'Editar'}}</button>
				</div>
			</form>
		</div>
	</div>
</div>