<div class="col-12 d-flex justify-content-between align-items-center">
	<h2>Listado de Proveedores</h2>
	<button class="boton boton-agregar" (click)="showModal()">
		<i class="fas fa-plus-square"></i>
	</button>
</div>
<hr>

<div class="col-12">
    <div class="table-responsive-sm">
        <table datatable [dtOptions]="tabla.dtOptions" [dtTrigger]="tabla.dtTrigger" class="table table-bordered table-hover" id="tabla">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proveedor of proveedores; let i = index" id="{{ proveedor.id }}">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ proveedor.nombre }}</td>
                    <td class="d-flex justify-content-center align-items-center">
                        <button type="button" class="boton boton-editar mr-3" (click)="showModal(proveedor)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="boton boton-eliminar" (click)="eliminarProveedor(proveedor, i)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Proveedor -->
<div class="modal fade" id="modalProveedor" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ accion == 'agregar' ? 'Agregar Proveedor' : 'Editar Proveedor'}}</h5>
			</div>
			<form [formGroup]="forma" (ngSubmit)="onSubmit()">
				<div class="modal-body">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="nombre">Nombre:</label>
							<div class="col-sm-10">
								<input 	type="text" 
										class="form-control" 
										name="nombre"
										formControlName="nombre">

								<div class="form-control-feedback text-danger" 
									*ngIf="forma.controls['nombre'].invalid && forma.controls['nombre'].touched">
									El nombre es requerido.
								</div>
							</div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm()">Cerrar</button>
					<button type="submit" class="btn btn-primary" [disabled]="forma.invalid">{{ accion == 'agregar' ? 'Agregar' : 'Editar'}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
