<div class="container-fluid">
	<div class="row">
		<app-navbar class="navbar"></app-navbar>

		<div class="col contenido">
            <header>
                <div class="col d-flex justify-content-center align-items-center titulo">
                    <h1>Inventario</h1>
                </div>
                <app-navbar class="d-block d-sm-none"></app-navbar>
            </header>

            <main>
                <router-outlet></router-outlet>
            </main>
		</div>
	</div>
</div>